

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="keywords" content="admin, dashboard, bootstrap, template, flat, modern, theme, responsive, fluid, retina, backend, html5, css, css3">
    <meta name="description" content="">
    <meta name="author" content="ThemeBucket">
    <link rel="shortcut icon" href="#" type="~/AdminTemplate/image/png">

    <title>AdminX</title>

    <link href="~/AdminTemplate/js/iCheck/skins/minimal/minimal.css" rel="stylesheet">
    <link href="~/AdminTemplate/js/iCheck/skins/square/square.css" rel="stylesheet">
    <link href="~/AdminTemplate/js/iCheck/skins/square/red.css" rel="stylesheet">
    <link href="~/AdminTemplate/js/iCheck/skins/square/blue.css" rel="stylesheet">

    <!--dashboard calendar-->
    <link href="~/AdminTemplate/css/clndr.css" rel="stylesheet">


    <!--common-->
    <link href="~/AdminTemplate/css/style.css" rel="stylesheet">
    <link href="~/AdminTemplate/css/style-responsive.css" rel="stylesheet">


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
</head>
<body>
    <section>
        @RenderPage("_LeftBar.cshtml")
        <div class="main-content">
            @RenderPage("_Header.cshtml")
            @RenderBody()
        </div>
    </section>



    <script src="~/AdminTemplate/js/jquery-1.10.2.min.js"></script>
    <script src="~/AdminTemplate/js/jquery-ui-1.9.2.custom.min.js"></script>
    <script src="~/AdminTemplate/js/jquery-migrate-1.2.1.min.js"></script>
    <script src="~/AdminTemplate/js/bootstrap.min.js"></script>
    <script src="~/AdminTemplate/js/modernizr.min.js"></script>
    <script src="~/AdminTemplate/js/jquery.nicescroll.js"></script>

    <!--easy pie chart-->
    <script src="~/AdminTemplate/js/easypiechart/jquery.easypiechart.js"></script>
    <script src="~/AdminTemplate/js/easypiechart/easypiechart-init.js"></script>
    <script src="~/AdminTemplate/js/easypiechart/easypiechart-init.js"></script>
    <!--Sparkline Chart-->
    <script src="~/AdminTemplate/js/sparkline/jquery.sparkline.js"></script>
    <script src="~/AdminTemplate/js/sparkline/sparkline-init.js"></script>

    <!--icheck -->
    <script src="~/AdminTemplate/js/iCheck/jquery.icheck.js"></script>
    <script src="~/AdminTemplate/js/icheck-init.js"></script>

    <!-- jQuery Flot Chart-->
    <script src="~/AdminTemplate/js/flot-chart/jquery.flot.js"></script>
    <script src="~/AdminTemplate/js/flot-chart/jquery.flot.tooltip.js"></script>
    <script src="~/AdminTemplate/js/flot-chart/jquery.flot.resize.js"></script>
    <script src="~/AdminTemplate/js/flot-chart/jquery.flot.pie.resize.js"></script>
    <script src="~/AdminTemplate/js/flot-chart/jquery.flot.selection.js"></script>
    <script src="~/AdminTemplate/js/flot-chart/jquery.flot.stack.js"></script>
    <script src="~/AdminTemplate/js/flot-chart/jquery.flot.time.js"></script>
    <script src="~/AdminTemplate/js/main-chart.js"></script>

    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
    <!--common scripts for all pages-->
    <script src="~/AdminTemplate/js/scripts.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
