<div class="left-side sticky-left-side">

    <!--logo and iconic logo start-->
    <div class="logo">
        <a href="information/index"><img src="~/AdminTemplate/images/logo.png" alt=""></a>
    </div>

    <div class="logo-icon text-center">
        <a href="information/index"><img src="~/AdminTemplate/images/logo_icon.png" alt=""></a>
    </div>
    <!--logo and iconic logo end-->

    <div class="left-side-inner">

        <!-- visible to small devices only -->
        <div class="visible-xs hidden-sm hidden-md hidden-lg">
            <div class="media logged-user">
                
                <div class="media-body">
                    <h4><a href="#">John Doe</a></h4>
                    <span>"Hello There..."</span>
                </div>
            </div>

            <h5 class="left-nav-title">Account Information</h5>
            <ul class="nav nav-pills nav-stacked custom-nav">
                <li><a href="#"><i class="fa fa-user"></i> <span>Profile</span></a></li>
                <li><a href="#"><i class="fa fa-cog"></i> <span>Settings</span></a></li>
                <li><a href="#"><i class="fa fa-sign-out"></i> <span>Sign Out</span></a></li>
            </ul>
        </div>

        <!--sidebar nav start-->
        <ul class="nav nav-pills nav-stacked custom-nav">
            <li class="menu-list nav-active">
                <a href="index-2.html"><i class="fa fa-home"></i> <span>Báo Cáo</span></a>
                <ul class="sub-menu-list">
                    <li><a href="../information/index">Danh sách liên hệ</a></li>
                </ul>
            </li>

            <li class="menu-list">
                <a href="#"><i class="fa fa-laptop"></i> <span>Phân Quyền</span></a>
                <ul class="sub-menu-list">
                    <li><a href="../role/registerrole">Thêm quyền cho tài khoản</a></li>
                    <li><a href="../role/index">Danh Sách Quyền</a></li>
                    <li><a href="../role/create">Thêm Quyền</a></li>

                </ul>
            </li>
            

        </ul>
        <!--sidebar nav end-->

    </div>
</div>