
<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from adminex.themebucket.net/login.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 27 Sep 2018 06:53:17 GMT -->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="ThemeBucket">
    <link rel="shortcut icon" href="#" type="image/png">

    <title>@ViewBag.Title</title>

    <link href="~/AdminTemplate/css/style.css" rel="stylesheet">
    <link href="~/AdminTemplate/css/style-responsive.css" rel="stylesheet">
    <link src="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">


    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->
</head>

<body class="login-body">

    <div class="container">
        @RenderBody()
    </div>



    <!-- Placed js at the end of the document so the pages load faster -->
    <!-- Placed js at the end of the document so the pages load faster -->
    <script src="~/AdminTemplate/js/jquery-1.10.2.min.js"></script>
    <script src="~/AdminTemplate/js/bootstrap.min.js"></script>
    <script src="~/AdminTemplate/js/modernizr.min.js"></script>

</body>

<!-- Mirrored from adminex.themebucket.net/login.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 27 Sep 2018 06:53:17 GMT -->
</html>
